SlovParl/schema/tei-SlovParl-clarin.dtd


<!--
DTD generated from ODD source 2016-08-28T13:22:04Z. .http://creativecommons.org/licenses/by/4.0/ This work is licensed under the Creative Commons Attribution 4.0 International License. To delo je ponujeno pod Creative Commons Priznanje avtorstva 4.0 mednarodna licenca.
TEI Edition: Version 2.8.0. Last updated on
	6th April 2015, revision 13197
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 2.8.0/

-->

<!-- start datatypes -->

<!ENTITY % data.numeric ' CDATA' >

<!ENTITY % data.interval ' CDATA' >

<!ENTITY % data.count ' CDATA ' >

<!ENTITY % data.temporal.w3c ' CDATA' >

<!ENTITY % data.truthValue ' CDATA ' >

<!ENTITY % data.language ' CDATA' >

<!ENTITY % data.namespace ' CDATA ' >

<!ENTITY % data.outputMeasurement ' CDATA ' >

<!ENTITY % data.pattern ' CDATA ' >

<!ENTITY % data.pointer ' CDATA ' >

<!ENTITY % data.version ' CDATA ' >

<!ENTITY % data.versionNumber ' CDATA ' >

<!ENTITY % data.replacement ' CDATA' >

<!ENTITY % data.word ' CDATA ' >

<!ENTITY % data.sex '%data.word;' >

<!ENTITY % data.text ' CDATA ' >

<!ENTITY % data.name ' CDATA ' >

<!ENTITY % data.enumerated '%data.word;' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % model.placeNamePart "placeName |bloc |country |region |district |settlement"> 
<!ENTITY % model.placeNamePart_sequence "placeName, bloc, country, region, district, settlement"> 
<!ENTITY % model.placeNamePart_sequenceOptional "placeName?, bloc?, country?, region?, district?, settlement?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "placeName*, bloc*, country*, region*, district*, settlement*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "placeName+, bloc+, country+, region+, district+, settlement+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart; |location |population |state |trait"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;, location, population, state, trait"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?, location?, population?, state?, trait?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*, location*, population*, state*, trait*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+, location+, population+, state+, trait+"> 
<!ENTITY % model.placeEventLike "event"> 
<!ENTITY % model.placeEventLike_sequence "event"> 
<!ENTITY % model.placeEventLike_sequenceOptional "event?"> 
<!ENTITY % model.placeEventLike_sequenceOptionalRepeatable "event*"> 
<!ENTITY % model.placeEventLike_sequenceRepeatable "event+"> 
<!ENTITY % model.orgPart "listOrg |listPerson |listPlace"> 
<!ENTITY % model.orgPart_sequence "listOrg, listPerson, listPlace"> 
<!ENTITY % model.orgPart_sequenceOptional "listOrg?, listPerson?, listPlace?"> 
<!ENTITY % model.orgPart_sequenceOptionalRepeatable "listOrg*, listPerson*, listPlace*"> 
<!ENTITY % model.orgPart_sequenceRepeatable "listOrg+, listPerson+, listPlace+"> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.sameAs '
sameAs %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.copyOf '
copyOf %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.next '
next %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.prev '
prev %data.pointer;  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.synch;
 %att.global.linking.attribute.sameAs;
 %att.global.linking.attribute.copyOf;
 %att.global.linking.attribute.next;
 %att.global.linking.attribute.prev;'> 
<!ENTITY % att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % att.global.analytic.attributes '
 %att.global.analytic.attribute.ana;'> 
<!ENTITY % model.persNamePart "surname |forename |genName |nameLink |addName |roleName"> 
<!ENTITY % model.persNamePart_sequence "surname, forename, genName, nameLink, addName, roleName"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?, genName?, nameLink?, addName?, roleName?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*, genName*, nameLink*, addName*, roleName*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+, genName+, nameLink+, addName+, roleName+"> <!ENTITY % att.duration.attributes ''> 
<!ENTITY % model.global.spoken "vocal |kinesic |incident |writing"> 
<!ENTITY % model.global.spoken_sequence "vocal, kinesic, incident, writing"> 
<!ENTITY % model.global.spoken_sequenceOptional "vocal?, kinesic?, incident?, writing?"> 
<!ENTITY % model.global.spoken_sequenceOptionalRepeatable "vocal*, kinesic*, incident*, writing*"> 
<!ENTITY % model.global.spoken_sequenceRepeatable "vocal+, kinesic+, incident+, writing+"> 
<!ENTITY % model.divPart.spoken "u"> 
<!ENTITY % model.divPart.spoken_sequence "u"> 
<!ENTITY % model.divPart.spoken_sequenceOptional "u?"> 
<!ENTITY % model.divPart.spoken_sequenceOptionalRepeatable "u*"> 
<!ENTITY % model.divPart.spoken_sequenceRepeatable "u+"> 
<!-- end of predeclared classes -->

<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % att.ascribed.attributes '
 %att.ascribed.attribute.who;'> 
<!ENTITY % att.canonical.attribute.key '
key %data.text;  #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % att.canonical.attributes '
 %att.canonical.attribute.key;
 %att.canonical.attribute.ref;'> 
<!ENTITY % att.datable.w3c.attribute.when '
when %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to %data.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.datable.w3c.attributes '
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.notBefore;
 %att.datable.w3c.attribute.notAfter;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;'> <!ENTITY % att.datable.attributes '%att.datable.w3c.attributes;'> 
<!ENTITY % att.datcat.attribute.datcat '
datcat CDATA  #IMPLIED'>

<!ENTITY % att.datcat.attribute.valueDatcat '
valueDatcat CDATA  #IMPLIED'>
<!ENTITY % att.datcat.attributes '
 %att.datcat.attribute.datcat;
 %att.datcat.attribute.valueDatcat;'> 
<!ENTITY % att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % att.declarable.attributes '
 %att.declarable.attribute.default;'> 
<!ENTITY % att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.global.responsibility.attributes '
 %att.global.responsibility.attribute.resp;'> 
<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %data.language;  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlbase '
xml:base %data.pointer;  #IMPLIED'>
<!ENTITY % att.global.attributes '%att.global.linking.attributes;%att.global.analytic.attributes;%att.global.responsibility.attributes;
 %att.global.attribute.xmlid;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;'> 
<!ENTITY % att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>
<!ENTITY % att.naming.attributes '%att.canonical.attributes;
 %att.naming.attribute.role;'> 
<!ENTITY % att.typed.attribute.type '
type %data.enumerated;  #IMPLIED'>
<!ENTITY % att.typed.attributes '
 %att.typed.attribute.type;'> 
<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>
<!ENTITY % att.pointing.attributes '
 %att.pointing.attribute.target;'> 
<!ENTITY % att.segLike.attribute.function '
function %data.enumerated;  #IMPLIED'>
<!ENTITY % att.segLike.attributes '%att.datcat.attributes;
 %att.segLike.attribute.function;'> 
<!ENTITY % att.citing.attribute.unit '
unit %data.enumerated;  #IMPLIED'>

<!ENTITY % att.citing.attribute.from '
from %data.word;  #IMPLIED'>

<!ENTITY % att.citing.attribute.to '
to %data.word;  #IMPLIED'>
<!ENTITY % att.citing.attributes '
 %att.citing.attribute.unit;
 %att.citing.attribute.from;
 %att.citing.attribute.to;'> 
<!ENTITY % model.nameLike.agent "orgName |persName"> 
<!ENTITY % model.nameLike.agent_sequence "orgName, persName"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "orgName?, persName?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "orgName*, persName*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "orgName+, persName+"> 
<!ENTITY % model.segLike "s |w |c |pc"> 
<!ENTITY % model.segLike_sequence "s, w, c, pc"> 
<!ENTITY % model.segLike_sequenceOptional "s?, w?, c?, pc?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "s*, w*, c*, pc*"> 
<!ENTITY % model.segLike_sequenceRepeatable "s+, w+, c+, pc+"> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike "title"> 
<!ENTITY % model.emphLike_sequence "title"> 
<!ENTITY % model.emphLike_sequenceOptional "title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.measureLike "geo"> 
<!ENTITY % model.measureLike_sequence "geo"> 
<!ENTITY % model.measureLike_sequenceOptional "geo?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "geo*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "geo+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike "ref"> 
<!ENTITY % model.ptrLike_sequence "ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ref+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta "timeline"> 
<!ENTITY % model.global.meta_sequence "timeline"> 
<!ENTITY % model.global.meta_sequenceOptional "timeline?"> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable "timeline*"> 
<!ENTITY % model.global.meta_sequenceRepeatable "timeline+"> 
<!ENTITY % model.milestoneLike "anchor"> 
<!ENTITY % model.milestoneLike_sequence "anchor"> 
<!ENTITY % model.milestoneLike_sequenceOptional "anchor?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "anchor*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "anchor+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |biblStruct |listBibl |biblFull"> 
<!ENTITY % model.biblLike_sequence "bibl, biblStruct, listBibl, biblFull"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, biblStruct?, listBibl?, biblFull?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, biblStruct*, listBibl*, biblFull*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, biblStruct+, listBibl+, biblFull+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |listOrg |listEvent |listPerson |listPlace"> 
<!ENTITY % model.listLike_sequence "list, listOrg, listEvent, listPerson, listPlace"> 
<!ENTITY % model.listLike_sequenceOptional "list?, listOrg?, listEvent?, listPerson?, listPlace?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, listOrg*, listEvent*, listPerson*, listPlace*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, listOrg+, listEvent+, listPerson+, listPlace+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit "gap"> 
<!ENTITY % model.global.edit_sequence "gap"> 
<!ENTITY % model.global.edit_sequenceOptional "gap?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "gap*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "gap+"> 
<!ENTITY % model.divPart "%model.pLike; |%model.divPart.spoken;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;, %model.divPart.spoken;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?, %model.divPart.spoken;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*, %model.divPart.spoken;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+, %model.divPart.spoken;+"> 
<!ENTITY % model.persStateLike "persName |affiliation |age |education |faith |floruit |langKnowledge |nationality |occupation |residence |sex |socecStatus |state |trait"> 
<!ENTITY % model.persStateLike_sequence "persName, affiliation, age, education, faith, floruit, langKnowledge, nationality, occupation, residence, sex, socecStatus, state, trait"> 
<!ENTITY % model.persStateLike_sequenceOptional "persName?, affiliation?, age?, education?, faith?, floruit?, langKnowledge?, nationality?, occupation?, residence?, sex?, socecStatus?, state?, trait?"> 
<!ENTITY % model.persStateLike_sequenceOptionalRepeatable "persName*, affiliation*, age*, education*, faith*, floruit*, langKnowledge*, nationality*, occupation*, residence*, sex*, socecStatus*, state*, trait*"> 
<!ENTITY % model.persStateLike_sequenceRepeatable "persName+, affiliation+, age+, education+, faith+, floruit+, langKnowledge+, nationality+, occupation+, residence+, sex+, socecStatus+, state+, trait+"> 
<!ENTITY % model.persEventLike "birth |death |event |listEvent"> 
<!ENTITY % model.persEventLike_sequence "birth, death, event, listEvent"> 
<!ENTITY % model.persEventLike_sequenceOptional "birth?, death?, event?, listEvent?"> 
<!ENTITY % model.persEventLike_sequenceOptionalRepeatable "birth*, death*, event*, listEvent*"> 
<!ENTITY % model.persEventLike_sequenceRepeatable "birth+, death+, event+, listEvent+"> 
<!ENTITY % model.personLike "org |person |personGrp"> 
<!ENTITY % model.personLike_sequence "org, person, personGrp"> 
<!ENTITY % model.personLike_sequenceOptional "org?, person?, personGrp?"> 
<!ENTITY % model.personLike_sequenceOptionalRepeatable "org*, person*, personGrp*"> 
<!ENTITY % model.personLike_sequenceRepeatable "org+, person+, personGrp+"> 
<!ENTITY % model.personPart "%model.biblLike; |%model.persStateLike; |%model.persEventLike; |idno"> 
<!ENTITY % model.personPart_sequence "%model.biblLike;, %model.persStateLike;, %model.persEventLike;, idno"> 
<!ENTITY % model.personPart_sequenceOptional "%model.biblLike;?, %model.persStateLike;?, %model.persEventLike;?, idno?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "%model.biblLike;*, %model.persStateLike;*, %model.persEventLike;*, idno*"> 
<!ENTITY % model.personPart_sequenceRepeatable "%model.biblLike;+, %model.persStateLike;+, %model.persEventLike;+, idno+"> 
<!ENTITY % model.placeNamePart "placeName |bloc |country |region |district |settlement"> 
<!ENTITY % model.placeNamePart_sequence "placeName, bloc, country, region, district, settlement"> 
<!ENTITY % model.placeNamePart_sequenceOptional "placeName?, bloc?, country?, region?, district?, settlement?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "placeName*, bloc*, country*, region*, district*, settlement*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "placeName+, bloc+, country+, region+, district+, settlement+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart; |location |population |state |trait"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;, location, population, state, trait"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?, location?, population?, state?, trait?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*, location*, population*, state*, trait*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+, location+, population+, state+, trait+"> 
<!ENTITY % model.placeEventLike "event"> 
<!ENTITY % model.placeEventLike_sequence "event"> 
<!ENTITY % model.placeEventLike_sequenceOptional "event?"> 
<!ENTITY % model.placeEventLike_sequenceOptionalRepeatable "event*"> 
<!ENTITY % model.placeEventLike_sequenceRepeatable "event+"> 
<!ENTITY % model.orgPart "listOrg |listPerson |listPlace"> 
<!ENTITY % model.orgPart_sequence "listOrg, listPerson, listPlace"> 
<!ENTITY % model.orgPart_sequenceOptional "listOrg?, listPerson?, listPlace?"> 
<!ENTITY % model.orgPart_sequenceOptionalRepeatable "listOrg*, listPerson*, listPlace*"> 
<!ENTITY % model.orgPart_sequenceRepeatable "listOrg+, listPerson+, listPlace+"> 
<!ENTITY % model.publicationStmtPart.agency "publisher |distributor |authority"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher, distributor, authority"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?, distributor?, authority?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*, distributor*, authority*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+, distributor+, authority+"> 
<!ENTITY % model.publicationStmtPart.detail "address |date |pubPlace |idno |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "address, date, pubPlace, idno, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "address?, date?, pubPlace?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "address*, date*, pubPlace*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "address+, date+, pubPlace+, idno+, availability+"> 
<!ENTITY % model.availabilityPart "licence"> 
<!ENTITY % model.availabilityPart_sequence "licence"> 
<!ENTITY % model.availabilityPart_sequenceOptional "licence?"> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable "licence*"> 
<!ENTITY % model.availabilityPart_sequenceRepeatable "licence+"> 
<!ENTITY % model.certLike ""> 
<!ENTITY % model.certLike_sequence ""> 
<!ENTITY % model.certLike_sequenceOptional ""> 
<!ENTITY % model.certLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.certLike_sequenceRepeatable ""> 
<!ENTITY % model.descLike "desc"> 
<!ENTITY % model.descLike_sequence "desc"> 
<!ENTITY % model.descLike_sequenceOptional "desc?"> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.descLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.glossLike ""> 
<!ENTITY % model.glossLike_sequence ""> 
<!ENTITY % model.glossLike_sequenceOptional ""> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.glossLike_sequenceRepeatable ""> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "author |editor |respStmt |meeting |sponsor |funder |principal"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt, meeting, sponsor, funder, principal"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?, meeting?, sponsor?, funder?, principal?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*, meeting*, sponsor*, funder*, principal*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+, meeting+, sponsor+, funder+, principal+"> 
<!ENTITY % model.divWrapper "meeting"> 
<!ENTITY % model.divWrapper_sequence "meeting"> 
<!ENTITY % model.divWrapper_sequenceOptional "meeting?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "meeting*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "meeting+"> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divWrapper; |%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.frontPart.drama ""> 
<!ENTITY % model.frontPart.drama_sequence ""> 
<!ENTITY % model.frontPart.drama_sequenceOptional ""> 
<!ENTITY % model.frontPart.drama_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart.drama_sequenceRepeatable ""> 
<!ENTITY % model.pLike.front "head"> 
<!ENTITY % model.pLike.front_sequence "head"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+"> 
<!ENTITY % model.imprintPart "publisher |biblScope |pubPlace |distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+, distributor+"> 
<!ENTITY % model.catDescPart ""> 
<!ENTITY % model.catDescPart_sequence ""> 
<!ENTITY % model.catDescPart_sequenceOptional ""> 
<!ENTITY % model.catDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.catDescPart_sequenceRepeatable ""> 
<!ENTITY % model.settingPart "locale"> 
<!ENTITY % model.settingPart_sequence "locale"> 
<!ENTITY % model.settingPart_sequenceOptional "locale?"> 
<!ENTITY % model.settingPart_sequenceOptionalRepeatable "locale*"> 
<!ENTITY % model.settingPart_sequenceRepeatable "locale+"> 
<!ENTITY % model.addressLike "email |address |affiliation"> 
<!ENTITY % model.addressLike_sequence "email, address, affiliation"> 
<!ENTITY % model.addressLike_sequenceOptional "email?, address?, affiliation?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "email*, address*, affiliation*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "email+, address+, affiliation+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |%model.placeStateLike; |idno |%model.persNamePart;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, %model.placeStateLike;, idno, %model.persNamePart;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, %model.placeStateLike;?, idno?, %model.persNamePart;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, %model.placeStateLike;*, idno*, %model.persNamePart;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, %model.placeStateLike;+, idno+, %model.persNamePart;+"> 
<!ENTITY % model.global "%model.global.meta; |%model.milestoneLike; |%model.noteLike; |%model.global.edit; |%model.global.spoken;"> 
<!ENTITY % model.global_sequence "%model.global.meta;, %model.milestoneLike;, %model.noteLike;, %model.global.edit;, %model.global.spoken;"> 
<!ENTITY % model.global_sequenceOptional "%model.global.meta;?, %model.milestoneLike;?, %model.noteLike;?, %model.global.edit;?, %model.global.spoken;?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.global.meta;*, %model.milestoneLike;*, %model.noteLike;*, %model.global.edit;*, %model.global.spoken;*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.global.meta;+, %model.milestoneLike;+, %model.noteLike;+, %model.global.edit;+, %model.global.spoken;+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |series |citedRange |bibl |edition |extent |availability |listRelation"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, series, citedRange, bibl, edition, extent, availability, listRelation"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, series?, citedRange?, bibl?, edition?, extent?, availability?, listRelation?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, series*, citedRange*, bibl*, edition*, extent*, availability*, listRelation*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, series+, citedRange+, bibl+, edition+, extent+, availability+, listRelation+"> 
<!ENTITY % model.frontPart "divGen"> 
<!ENTITY % model.frontPart_sequence "divGen"> 
<!ENTITY % model.frontPart_sequenceOptional "divGen?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "divGen*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "divGen+"> 
<!ENTITY % model.addrPart "%model.nameLike; |addrLine |street |postCode |postBox"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine, street, postCode, postBox"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?, street?, postCode?, postBox?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*, street*, postCode*, postBox*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+, street+, postCode+, postBox+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.measureLike; |%model.addressLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.labelLike; |%model.listLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.highlighted; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike "divGen"> 
<!ENTITY % model.divGenLike_sequence "divGen"> 
<!ENTITY % model.divGenLike_sequenceOptional "divGen?"> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable "divGen*"> 
<!ENTITY % model.divGenLike_sequenceRepeatable "divGen+"> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "encodingDesc |profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "projectDesc |samplingDecl |editorialDecl |tagsDecl |classDecl |geoDecl"> 
<!ENTITY % model.encodingDescPart_sequence "projectDesc, samplingDecl, editorialDecl, tagsDecl, classDecl, geoDecl"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "projectDesc?, samplingDecl?, editorialDecl?, tagsDecl?, classDecl?, geoDecl?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "projectDesc*, samplingDecl*, editorialDecl*, tagsDecl*, classDecl*, geoDecl*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "projectDesc+, samplingDecl+, editorialDecl+, tagsDecl+, classDecl+, geoDecl+"> 
<!ENTITY % model.editorialDeclPart "correction |normalization |quotation |hyphenation |segmentation |punctuation"> 
<!ENTITY % model.editorialDeclPart_sequence "correction, normalization, quotation, hyphenation, segmentation, punctuation"> 
<!ENTITY % model.editorialDeclPart_sequenceOptional "correction?, normalization?, quotation?, hyphenation?, segmentation?, punctuation?"> 
<!ENTITY % model.editorialDeclPart_sequenceOptionalRepeatable "correction*, normalization*, quotation*, hyphenation*, segmentation*, punctuation*"> 
<!ENTITY % model.editorialDeclPart_sequenceRepeatable "correction+, normalization+, quotation+, hyphenation+, segmentation+, punctuation+"> 
<!ENTITY % model.profileDescPart "langUsage |textClass |particDesc |settingDesc"> 
<!ENTITY % model.profileDescPart_sequence "langUsage, textClass, particDesc, settingDesc"> 
<!ENTITY % model.profileDescPart_sequenceOptional "langUsage?, textClass?, particDesc?, settingDesc?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "langUsage*, textClass*, particDesc*, settingDesc*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "langUsage+, textClass+, particDesc+, settingDesc+"> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.personal.attribute.full '
full (yes|abb|init) "yes" '>
<!ENTITY % att.personal.attributes '%att.naming.attributes;
 %att.personal.attribute.full;'> 
<!ENTITY % model.placeLike "place"> 
<!ENTITY % model.placeLike_sequence "place"> 
<!ENTITY % model.placeLike_sequenceOptional "place?"> 
<!ENTITY % model.placeLike_sequenceOptionalRepeatable "place*"> 
<!ENTITY % model.placeLike_sequenceRepeatable "place+"> 
<!ENTITY % att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.sameAs '
sameAs %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.copyOf '
copyOf %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.next '
next %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.prev '
prev %data.pointer;  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.synch;
 %att.global.linking.attribute.sameAs;
 %att.global.linking.attribute.copyOf;
 %att.global.linking.attribute.next;
 %att.global.linking.attribute.prev;'> 
<!ENTITY % att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % att.global.analytic.attributes '
 %att.global.analytic.attribute.ana;'> 
<!ENTITY % model.persNamePart "surname |forename |genName |nameLink |addName |roleName"> 
<!ENTITY % model.persNamePart_sequence "surname, forename, genName, nameLink, addName, roleName"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?, genName?, nameLink?, addName?, roleName?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*, genName*, nameLink*, addName*, roleName*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+, genName+, nameLink+, addName+, roleName+"> <!ENTITY % att.duration.attributes ''> 
<!ENTITY % model.global.spoken "vocal |kinesic |incident |writing"> 
<!ENTITY % model.global.spoken_sequence "vocal, kinesic, incident, writing"> 
<!ENTITY % model.global.spoken_sequenceOptional "vocal?, kinesic?, incident?, writing?"> 
<!ENTITY % model.global.spoken_sequenceOptionalRepeatable "vocal*, kinesic*, incident*, writing*"> 
<!ENTITY % model.global.spoken_sequenceRepeatable "vocal+, kinesic+, incident+, writing+"> 
<!ENTITY % model.divPart.spoken "u"> 
<!ENTITY % model.divPart.spoken_sequence "u"> 
<!ENTITY % model.divPart.spoken_sequenceOptional "u?"> 
<!ENTITY % model.divPart.spoken_sequenceOptionalRepeatable "u*"> 
<!ENTITY % model.divPart.spoken_sequenceRepeatable "u+"> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;)*' >

<!ENTITY % macro.limitedContent '(#PCDATA|%model.limitedPhrase;|%model.inter;)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!ENTITY % macro.xtext '(#PCDATA|_DUMMY_model.gLike)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, containing a single TEI header, a single text, one or more members of the model.resourceLike class, or a combination of these. A series of TEI elements may be combined together to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?)|text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attributes;
version %data.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(additional name) contains an additional name component, such as a nickname, epithet, or alias, or any other descriptive phrase used within a personal name. [13.2.1. Personal Names] -->
<!ELEMENT addName %macro.phraseSeq;>
<!ATTLIST addName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addName
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:(address line) contains one line of a postal address. [3.5.2. Addresses 2.2.4. Publication, Distribution,
Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attributes; >
<!--doc:contains a postal address, for example of a publisher, an organization, or an individual. [3.5.2. Addresses 2.2.4. Publication, Distribution,
Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT address ((%model.global;)*,((%model.addrPart;),(%model.global;)*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attributes; >
<!--doc:contains an informal description of a person's present or past affiliation with some organization, for example an employer or sponsor. [15.2.2. The Participant Description] -->
<!ELEMENT affiliation %macro.phraseSeq;>
<!ATTLIST affiliation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST affiliation
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes; >
<!--doc:specifies the age of a person. [13.3.2.1. Personal Characteristics] -->
<!ELEMENT age %macro.phraseSeq.limited;>
<!ATTLIST age xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST age
 %att.global.attributes;
 %att.datable.attributes;
value %data.count;  #IMPLIED >
<!--doc:(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published within a monograph or journal and not as an independent publication. [3.11.2.1. Analytic, Monographic, and Series Levels] -->
<!ELEMENT analytic (author|editor|respStmt|title|%model.ptrLike;|date|idno|availability)*>
<!ATTLIST analytic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST analytic
 %att.global.attributes; >
<!--doc:(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. [8.4.2. Synchronization and Overlap 16.4. Correspondence and Alignment] -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST anchor
 %att.global.attribute.xmlid; >
<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(release authority) supplies the name of a person or other agency responsible for making a work available, other than a publisher or distributor. [2.2.4. Publication, Distribution,
Licensing, etc.] -->
<!ELEMENT authority %macro.phraseSeq.limited;>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %att.global.attributes; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution,
Licensing, etc.] -->
<!ELEMENT availability (%model.availabilityPart;|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attributes;
 %att.declarable.attributes;
status (free|unknown|restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure] -->
<!ELEMENT back ((%model.frontPart;|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,((_DUMMY_model.div1Like,(%model.frontPart;|_DUMMY_model.div1Like|%model.global;)*)|((%model.divLike;),(%model.frontPart;|%model.divLike;|%model.global;)*))?,(_DUMMY_model.divBottomPart,(_DUMMY_model.divBottomPart|%model.global;)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|_DUMMY_model.pPart.edit|%model.segLike;|%model.ptrLike;|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(fully-structured bibliographic citation) contains a fully-structured bibliographic citation, in which all components of the TEI file description are present. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2. The File Description 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT biblFull ((titleStmt,editionStmt?,extent?,publicationStmt,notesStmt?),sourceDesc*)>
<!ATTLIST biblFull xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblFull
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.11.2.5. Scopes and Ranges in Bibliographic Citations] -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %att.global.attributes;
 %att.citing.attributes; >
<!--doc:(structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements appear and in a specified order. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT biblStruct (analytic*,(monogr,series*)+,(%model.noteLike;|idno|%model.ptrLike;|citedRange)*)>
<!ATTLIST biblStruct xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblStruct
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:contains information about a person's birth, such as its date and place. [15.2.2. The Participant Description] -->
<!ELEMENT birth %macro.phraseSeq;>
<!ATTLIST birth xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST birth
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes; >
<!--doc:contains the name of a geo-political unit consisting of two or more nation states or countries. [13.2.3. Place Names] -->
<!ELEMENT bloc %macro.phraseSeq;>
<!ATTLIST bloc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bloc
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body ((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((%model.divGenLike;),(%model.global;|%model.divGenLike;)*)?,(((%model.divLike;),(%model.global;|%model.divGenLike;)*)+|(_DUMMY_model.div1Like,(%model.global;|%model.divGenLike;)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|%model.divGenLike;)*)+|(_DUMMY_model.div1Like,(%model.global;|%model.divGenLike;)*)+)?)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes; >
<!--doc:(character) represents a character. [17.1. Linguistic Segment Categories] -->
<!ELEMENT c %macro.xtext;>
<!ATTLIST c xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST c
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes; >
<!--doc:(category description) describes some category within a taxonomy or text typology, either in the form of a brief prose description or in terms of the situational parameters used by the TEI formal textDesc. [2.3.7. The Classification Declaration] -->
<!ELEMENT catDesc (#PCDATA|%model.limitedPhrase;|_DUMMY_model.catDescPart)*>
<!ATTLIST catDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catDesc
 %att.global.attributes; >
<!--doc:contains an individual descriptive category, possibly nested within a superordinate category, within a user-defined taxonomy. [2.3.7. The Classification Declaration] -->
<!ELEMENT category ((catDesc+|(%model.descLike;|_DUMMY_model.glossLike)*),category*)>
<!ATTLIST category xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST category
 %att.global.attributes; >
<!--doc:documents a change or set of changes made during the production of a source document, or during the revision of an electronic file. [2.5. The Revision Description 2.4.1. Creation 11.7. Changes] -->
<!ELEMENT change %macro.specialPara;>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.ascribed.attributes;
 %att.datable.attributes;
 %att.global.attributes;
 %att.typed.attributes;
target CDATA  #IMPLIED >
<!--doc:(cited range) defines the range of cited content, often represented by pages or other units [3.11.2.5. Scopes and Ranges in Bibliographic Citations] -->
<!ELEMENT citedRange %macro.phraseSeq;>
<!ATTLIST citedRange xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST citedRange
 %att.global.attributes;
 %att.pointing.attributes;
 %att.citing.attributes; >
<!--doc:(classification code) contains the classification code used for this text in some standard classification system. [2.4.3. The Text Classification] -->
<!ELEMENT classCode %macro.phraseSeq.limited;>
<!ATTLIST classCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classCode
 %att.global.attributes;
scheme %data.pointer;  #REQUIRED >
<!--doc:(classification declarations) contains one or more taxonomies defining any classificatory codes used elsewhere in the text. [2.3.7. The Classification Declaration 2.3. The Encoding Description] -->
<!ELEMENT classDecl (taxonomy)+>
<!ATTLIST classDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classDecl
 %att.global.attributes; >
<!--doc:(correction principles) states how and under what circumstances corrections have been made in the text. [2.3.3. The Editorial Practices Declaration 15.3.2. Declarable Elements] -->
<!ELEMENT correction (%model.pLike;)+>
<!ATTLIST correction xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST correction
 %att.global.attributes;
 %att.declarable.attributes;
status (high|medium|low|unknown) "unknown" 
method (silent|markup) "silent"  >
<!--doc:contains the name of a geo-political unit, such as a nation, country, colony, or commonwealth, larger than or administratively superior to a region and smaller than a bloc. [13.2.3. Place Names] -->
<!ELEMENT country %macro.phraseSeq;>
<!ATTLIST country xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST country
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution,
Licensing, etc. 2.5. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.6. Dates and Times] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.attributes;
 %att.duration.attributes;
 %att.typed.attributes; >
<!--doc:contains information about a person's death, such as its date and place. [15.2.2. The Participant Description] -->
<!ELEMENT death %macro.phraseSeq;>
<!ATTLIST death xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST death
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, including its intended usage, purpose, or application where this is appropriate. [22.4.1. Description of Components] -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:supplies the name of a person or other agency responsible for the distribution of a text. [2.2.4. Publication, Distribution,
Licensing, etc.] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %att.global.attributes; >
<!--doc:contains the name of any kind of subdivision of a settlement, such as a parish, ward, or other administrative or geographic unit. [13.2.3. Place Names] -->
<!ELEMENT district %macro.phraseSeq;>
<!ATTLIST district xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST district
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body] -->
<!ELEMENT div ((%model.divTop;|%model.global;)*,((((%model.divLike;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
type (contents|sp|inter|preface) #REQUIRED >
<!--doc:(automatically generated text division) indicates the location at which a textual division generated automatically by a text-processing application is to appear. [3.8.2. Index Entries] -->
<!ELEMENT divGen (%model.headLike;)*>
<!ATTLIST divGen xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST divGen
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:describes the particularities of one edition of a text. [2.2.2. The Edition Statement] -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attributes; >
<!--doc:(edition statement) groups information relating to one edition of a text. [2.2.2. The Edition Statement 2.2. The File Description] -->
<!ELEMENT editionStmt ((%model.pLike;)+|(edition,(%model.respLike;)*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attributes; >
<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.11.2.2. Titles, Authors, and Editors] -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(editorial practice declaration) provides details of editorial principles and practices applied during the encoding of a text. [2.3.3. The Editorial Practices Declaration 2.3. The Encoding Description 15.3.2. Declarable Elements] -->
<!ELEMENT editorialDecl (%model.pLike;|%model.editorialDeclPart;)+>
<!ATTLIST editorialDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editorialDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:contains a description of the educational experience of a person. [15.2.2. The Participant Description] -->
<!ELEMENT education %macro.phraseSeq;>
<!ATTLIST education xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST education
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes; >
<!--doc:(electronic mail address) contains an email address identifying a location to which email messages can be delivered. [3.5.2. Addresses] -->
<!ELEMENT email %macro.phraseSeq;>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST email
 %att.global.attributes; >
<!--doc:(encoding description) documents the relationship between an electronic text and the source or sources from which it was derived. [2.3. The Encoding Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT encodingDesc (%model.encodingDescPart;|%model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attributes; >
<!--doc:contains data relating to any kind of significant event associated with a person, place, or organization. [13.3.1. Basic Principles] -->
<!ELEMENT event ((%model.headLike;)*,((%model.pLike;)+|(%model.labelLike;)+),(%model.noteLike;|%model.biblLike;)*,event*)>
<!ATTLIST event xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST event
 %att.global.attributes;
 %att.datable.attributes;
 %att.typed.attributes;
 %att.naming.attributes;
where %data.pointer;  #IMPLIED >
<!--doc:describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3. Type and Extent of File 2.2. The File Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 10.7.1. Object Description] -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attributes; >
<!--doc:specifies the faith, religion, or belief set of a person. [13.3.2.1. Personal Characteristics] -->
<!ELEMENT faith %macro.phraseSeq;>
<!ATTLIST faith xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST faith
 %att.global.attributes;
 %att.datable.attributes;
 %att.canonical.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attributes; >
<!--doc:contains information about a person's period of activity. [13.3.2.1. Personal Characteristics] -->
<!ELEMENT floruit %macro.phraseSeq;>
<!ATTLIST floruit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST floruit
 %att.global.attributes;
 %att.datable.attributes; >
<!--doc:contains a forename, given or baptismal name. [13.2.1. Personal Names] -->
<!ELEMENT forename %macro.phraseSeq;>
<!ATTLIST forename xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST forename
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:(front matter) contains any prefatory matter (headers, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6. Title Pages 4. Default Text Structure] -->
<!ELEMENT front ((%model.frontPart;|%model.pLike;|%model.pLike.front;|%model.global;)*,(((_DUMMY_model.div1Like,(_DUMMY_model.div1Like|%model.frontPart;|%model.global;)*)|(%model.divLike;,(%model.divLike;|%model.frontPart;|%model.global;)*)),((%model.divBottom;),(%model.divBottom;|%model.global;)*)?)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization responsible for the funding of a project or text. [2.2.1. The Title Statement] -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. [3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT gap (%model.descLike;|_DUMMY_model.certLike)*>
<!ATTLIST gap xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gap
 %att.global.attribute.xmlid;
 %att.global.analytic.attribute.ana;
 %att.duration.attributes;
reason CDATA  #IMPLIED >
<!--doc:(generational name component) contains a name component used to distinguish otherwise similar names on the basis of the relative ages or generations of the persons named. [13.2.1. Personal Names] -->
<!ELEMENT genName %macro.phraseSeq;>
<!ATTLIST genName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST genName
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:(geographical coordinates) contains any expression of a set of geographic coordinates, representing a point, line, or area on the surface of the earth in some notation. [13.3.4.1. Varieties of Location] -->
<!ELEMENT geo  (#PCDATA)>
<!ATTLIST geo xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST geo
 %att.global.attributes; >
<!--doc:(geographic coordinates declaration) documents the notation and the datum used for geographic coordinates expressed as content of the geo element elsewhere within the document. [2.3.8. The Geographic Coordinates Declaration] -->
<!ELEMENT geoDecl %macro.phraseSeq;>
<!ATTLIST geoDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST geoDecl
 %att.global.attributes;
 %att.declarable.attributes;
datum %data.enumerated;  "WGS84"  >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.lLike|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attribute.xmlid;
 %att.global.attribute.xmllang; >
<!--doc:summarizes the way in which hyphenation in a source text has been treated in an encoded version of it. [2.3.3. The Editorial Practices Declaration 15.3.2. Declarable Elements] -->
<!ELEMENT hyphenation (%model.pLike;)+>
<!ATTLIST hyphenation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hyphenation
 %att.global.attributes;
 %att.declarable.attributes;
eol (all|some|hard|none) "some"  >
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4. Publication, Distribution,
Licensing, etc. 2.2.5. The Series Statement 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT idno (#PCDATA|_DUMMY_model.gLike|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:groups information relating to the publication or distribution of a bibliographic item. [3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT imprint (classCode*,(((%model.imprintPart;)|(%model.dateLike;)),respStmt*,(%model.global;)*)+)>
<!ATTLIST imprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST imprint
 %att.global.attributes; >
<!--doc:marks any phenomenon or occurrence, not necessarily vocalized or communicative, for example incidental noises or other events affecting communication. [8.3.3. Vocal, Kinesic, Incident] -->
<!ELEMENT incident (%model.descLike;)*>
<!ATTLIST incident xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST incident
 %att.global.attribute.xmlid;
 %att.global.analytic.attribute.ana;
 %att.typed.attributes;
 %att.ascribed.attributes; >
<!--doc:contains one component of a list. [3.7. Lists 2.5. The Revision Description] -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attribute.xmlid;
 %att.global.linking.attribute.corresp; >
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. The Text Classification] -->
<!ELEMENT keywords (list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %att.global.attributes;
scheme %data.pointer;  #IMPLIED >
<!--doc:marks any communicative phenomenon, not necessarily vocalized, for example a gesture, frown, etc. [8.3.3. Vocal, Kinesic, Incident] -->
<!ELEMENT kinesic (%model.descLike;)*>
<!ATTLIST kinesic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST kinesic
 %att.global.attribute.xmlid;
 %att.global.analytic.attribute.ana;
 %att.typed.attributes;
 %att.ascribed.attributes; >
<!--doc:contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. Lists] -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(language knowledge) summarizes the state of a person's linguistic knowledge, either as prose or by a list of langKnown elements. [13.3.2.1. Personal Characteristics] -->
<!ELEMENT langKnowledge (%model.pLike;|langKnown+)>
<!ATTLIST langKnowledge xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langKnowledge
 %att.global.attributes;
 %att.datable.attributes;
tags CDATA  #IMPLIED >
<!--doc:(language known) summarizes the state of a person's linguistic competence, i.e., knowledge of a single language. [15.2.2. The Participant Description] -->
<!ELEMENT langKnown %macro.phraseSeq.limited;>
<!ATTLIST langKnown xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langKnown
 %att.global.attributes;
 %att.datable.attributes;
tag %data.language;  #REQUIRED
level %data.word;  #IMPLIED >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2. Language Usage 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:characterizes a single language or sublanguage used within a text. [2.4.2. Language Usage] -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attributes;
ident %data.language;  #REQUIRED
usage CDATA #IMPLIED >
<!--doc:contains information about a licence or other legal agreement applicable to the text. [2.2.4. Publication, Distribution,
Licensing, etc.] -->
<!ELEMENT licence %macro.specialPara;>
<!ATTLIST licence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST licence
 %att.global.attributes;
 %att.pointing.attributes;
 %att.datable.attributes; >
<!--doc:contains any sequence of items organized as a list. [3.7. Lists] -->
<!ELEMENT list (((%model.divTop;)|(%model.global;))*,((item,(%model.global;)*)+|(label,(%model.global;)*,item,(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(citation list) contains a list of bibliographic citations of any kind. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT listBibl ((%model.headLike;)*,(%model.biblLike;|%model.milestoneLike;)+,(relation|listRelation)*)>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:groups a number of change descriptions associated with either the creation of a source text or the revision of an encoded text. [2.5. The Revision Description 11.7. Changes] -->
<!ELEMENT listChange (listChange|change)+>
<!ATTLIST listChange xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listChange
 %att.global.attributes;
ordered %data.truthValue;  "true"  >
<!--doc:(list of events) contains a list of descriptions, each of which provides information about an identifiable event. [13.3.1. Basic Principles] -->
<!ELEMENT listEvent ((%model.headLike;)*,(event|listEvent)+,(relation|listRelation)*)>
<!ATTLIST listEvent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listEvent
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes; >
<!--doc:(list of organizations) contains a list of elements, each of which provides information about an identifiable organization. [13.2.2. Organizational Names] -->
<!ELEMENT listOrg ((%model.headLike;)*,(org|listOrg)+,(relation|listRelation)*)>
<!ATTLIST listOrg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listOrg
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes; >
<!--doc:(list of persons) contains a list of descriptions, each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source. [13.3.2. The Person Element 15.2. Contextual Information 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT listPerson ((%model.headLike;)*,(%model.personLike;|listPerson)+,(relation|listRelation)*)>
<!ATTLIST listPerson xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listPerson
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes; >
<!--doc:(list of places) contains a list of places, optionally followed by a list of relationships (other than containment) defined amongst them. [2.2.7. The Source Description 13.3.4. Places] -->
<!ELEMENT listPlace ((%model.headLike;)*,(%model.placeLike;|listPlace)+,(relation|listRelation)*)>
<!ATTLIST listPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listPlace
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes; >
<!--doc:provides information about relationships identified amongst people, places, and organizations, either informally as prose or as formally expressed relation links. [13.3.2.3. Personal Relationships] -->
<!ELEMENT listRelation ((%model.headLike;)*,(%model.pLike;|(relation|listRelation)+))>
<!ATTLIST listRelation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listRelation
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains a brief informal description of the kind of place concerned, for example: a room, a restaurant, a park bench, etc. [15.2.3. The Setting Description] -->
<!ELEMENT locale %macro.phraseSeq.limited;>
<!ATTLIST locale xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST locale
 %att.global.attributes; >
<!--doc:defines the location of a place as a set of geographical coordinates, in terms of other named geo-political entities, or as an address. [13.3.4. Places] -->
<!ELEMENT location (%model.labelLike;|%model.placeNamePart;|_DUMMY_model.offsetLike|%model.measureLike;|%model.addressLike;|%model.noteLike;|%model.biblLike;)*>
<!ATTLIST location xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST location
 %att.global.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:contains the formalized descriptive title for a meeting or conference, for use in a bibliographic description for an item derived from such a meeting, or as a heading or preamble to publications emanating from it. [3.11.2.2. Titles, Authors, and Editors] -->
<!ELEMENT meeting %macro.limitedContent;>
<!ATTLIST meeting xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST meeting
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an independent item (i.e. as a separate physical object). [3.11.2.1. Analytic, Monographic, and Series Levels] -->
<!ELEMENT monogr ((((author|editor|meeting|respStmt),(author|editor|meeting|respStmt)*,title+,(%model.ptrLike;|idno|editor|respStmt)*)|((title|%model.ptrLike;|idno)+,(author|editor|meeting|respStmt)*)|(authority,idno))?,availability*,(%model.noteLike;)*,(edition,(idno|%model.ptrLike;|editor|sponsor|funder|respStmt)*)*,imprint,(imprint|extent|biblScope)*)>
<!ATTLIST monogr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST monogr
 %att.global.attributes; >
<!--doc:(name link) contains a connecting phrase or link used within a name but not regarded as part of it, such as van der or of. [13.2.1. Personal Names] -->
<!ELEMENT nameLink %macro.phraseSeq;>
<!ATTLIST nameLink xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST nameLink
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:supplies the formal name of the namespace to which the elements documented by its children belong. [2.3.4. The Tagging Declaration] -->
<!ELEMENT namespace (tagUsage)+>
<!ATTLIST namespace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST namespace
 %att.global.attributes;
name %data.namespace;  #REQUIRED >
<!--doc:contains an informal description of a person's present or past nationality or citizenship. [15.2.2. The Participant Description] -->
<!ELEMENT nationality %macro.phraseSeq;>
<!ATTLIST nationality xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST nationality
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes; >
<!--doc:indicates the extent of normalization or regularization of the original source carried out in converting it to electronic form. [2.3.3. The Editorial Practices Declaration 15.3.2. Declarable Elements] -->
<!ELEMENT normalization (%model.pLike;)+>
<!ATTLIST normalization xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST normalization
 %att.global.attributes;
 %att.declarable.attributes;
source %data.pointer;  #IMPLIED
method (silent|markup) "silent"  >
<!--doc:contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %att.global.attribute.xmlid;
type (location|speaker|date|president|comment|time|quorum|vote|debate) #IMPLIED >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6. The Notes Statement 2.2. The File Description] -->
<!ELEMENT notesStmt (%model.noteLike;)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attributes; >
<!--doc:contains an informal description of a person's trade, profession or occupation. [15.2.2. The Participant Description] -->
<!ELEMENT occupation %macro.phraseSeq;>
<!ATTLIST occupation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST occupation
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes;
scheme %data.pointer;  #IMPLIED
code %data.pointer;  #IMPLIED >
<!--doc:(organization) provides information about an identifiable organization such as a business, a tribe, or any other grouping of people. [13.2.2. Organizational Names] -->
<!ELEMENT org ((%model.headLike;)*,((%model.pLike;)*|(%model.labelLike;|%model.nameLike;|%model.placeLike;|%model.orgPart;|%model.milestoneLike;)*),(%model.noteLike;|%model.biblLike;)*,(%model.personLike;)*)>
<!ATTLIST org xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST org
 %att.global.attributes;
 %att.typed.attributes;
role CDATA  #IMPLIED >
<!--doc:(organization name) contains an organizational name. [13.2.2. Organizational Names] -->
<!ELEMENT orgName %macro.phraseSeq;>
<!ATTLIST orgName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST orgName
 %att.global.attributes;
 %att.datable.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes; >
<!--doc:(participation description) describes the identifiable speakers, voices, or other participants in any kind of text or other persons named or otherwise referred to in a text, edition, or metadata. [15.2. Contextual Information] -->
<!ELEMENT particDesc ((%model.pLike;)+|(%model.personLike;|listPerson|listOrg)+)>
<!ATTLIST particDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST particDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. [17.1. Linguistic Segment Categories] -->
<!ELEMENT pc (#PCDATA|_DUMMY_model.gLike|c|_DUMMY_model.pPart.edit)*>
<!ATTLIST pc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pc
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
force (strong|weak|inter) #IMPLIED
unit %data.enumerated;  #IMPLIED
pre %data.truthValue;  #IMPLIED >
<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. Personal Names] -->
<!ELEMENT persName %macro.phraseSeq;>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST persName
 %att.global.attributes;
 %att.datable.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a historical source. [13.3.2. The Person Element 15.2.2. The Participant Description] -->
<!ELEMENT person ((%model.pLike;)+|(%model.personPart;|%model.global;)*)>
<!ATTLIST person xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST person
 %att.global.attribute.xmlid;
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.sameAs;
role (president) #IMPLIED >
<!--doc:(personal group) describes a group of individuals treated as a single person for analytic purposes. [15.2.2. The Participant Description] -->
<!ELEMENT personGrp ((%model.pLike;)+|(%model.personPart;|%model.global;)*)>
<!ATTLIST personGrp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST personGrp
 %att.global.attributes;
role %data.enumerated;  #IMPLIED
sex CDATA  #IMPLIED
age %data.enumerated;  #IMPLIED
size CDATA  #IMPLIED >
<!--doc:contains data about a geographic location [13.3.4. Places] -->
<!ELEMENT place ((%model.headLike;)*,((%model.pLike;)*|(%model.labelLike;|%model.placeStateLike;|%model.placeEventLike;)*),(%model.noteLike;|%model.biblLike;|idno)*,(%model.placeLike;|listPlace)*)>
<!ATTLIST place xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST place
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains an absolute or relative place name. [13.2.3. Place Names] -->
<!ELEMENT placeName %macro.phraseSeq;>
<!ATTLIST placeName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST placeName
 %att.datable.attributes;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:contains information about the population of a place. [13.3.4.3. States, Traits, and Events] -->
<!ELEMENT population ((%model.headLike;)*,(((%model.pLike;)+|(%model.labelLike;)+),(%model.noteLike;|%model.biblLike;)*)?,population*)>
<!ATTLIST population xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST population
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
<!--doc:(postal box or post office box) contains a number or other identifier for some postal delivery point other than a street address. [3.5.2. Addresses] -->
<!ELEMENT postBox  (#PCDATA)>
<!ATTLIST postBox xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postBox
 %att.global.attributes; >
<!--doc:(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify sorting or delivery of mail. [3.5.2. Addresses] -->
<!ELEMENT postCode  (#PCDATA)>
<!ATTLIST postCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postCode
 %att.global.attributes; >
<!--doc:(principal researcher) supplies the name of the principal researcher responsible for the creation of an electronic text. [2.2.1. The Title Statement] -->
<!ELEMENT principal %macro.phraseSeq.limited;>
<!ATTLIST principal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST principal
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4. The Profile Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attributes; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic file was encoded, together with any other relevant information concerning the process by which it was assembled or collected. [2.3.1. The Project Description 2.3. The Encoding Description 15.3.2. Declarable Elements] -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution,
Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution,
Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:specifies editorial practice adopted with respect to punctuation marks in the original. [2.3.3. The Editorial Practices Declaration 3.2. Treatment of Punctuation] -->
<!ELEMENT punctuation (%model.pLike;)*>
<!ATTLIST punctuation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST punctuation
 %att.declarable.attributes;
 %att.global.attributes;
marks (none|some|all) #IMPLIED
placement (internal|external) #IMPLIED >
<!--doc:specifies editorial practice adopted with respect to quotation marks in the original. [2.3.3. The Editorial Practices Declaration 15.3.2. Declarable Elements] -->
<!ELEMENT quotation (%model.pLike;)*>
<!ATTLIST quotation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST quotation
 %att.global.attributes;
 %att.declarable.attributes;
marks (none|some|all) #IMPLIED >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes; >
<!--doc:contains the name of an administrative unit such as a state, province, or county, larger than a settlement, but smaller than a country. [13.2.3. Place Names] -->
<!ELEMENT region %macro.phraseSeq;>
<!ATTLIST region xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST region
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:(relationship) describes any kind of relationship or linkage amongst a specified group of places, events, persons, objects or other items. [13.3.2.3. Personal Relationships] -->
<!ELEMENT relation (desc)?>
<!ATTLIST relation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST relation
 %att.global.attributes;
 %att.datable.attributes;
 %att.canonical.attributes;
 %att.typed.attributes;
name %data.enumerated;  #IMPLIED
active CDATA  #IMPLIED
mutual CDATA  #IMPLIED
passive CDATA  #IMPLIED >
<!--doc:describes a person's present or past places of residence. [15.2.2. The Participant Description] -->
<!ELEMENT residence %macro.phraseSeq;>
<!ATTLIST residence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST residence
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes; >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.canonical.attributes;
 %att.datable.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(revision description) summarizes the revision history for a file. [2.5. The Revision Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT revisionDesc (list|listChange|change+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attributes; >
<!--doc:contains a name component which indicates that the referent has a particular role or position in society, such as an official title or rank. [13.2.1. Personal Names] -->
<!ELEMENT roleName %macro.phraseSeq;>
<!ATTLIST roleName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST roleName
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:(s-unit) contains a sentence-like division of a text. [17.1. Linguistic Segment Categories 8.4.1. Segmentation] -->
<!ELEMENT s (#PCDATA|_DUMMY_model.gLike|%model.global;|title|address|affiliation|email|date|geo|orgName|persName|addName|forename|genName|nameLink|roleName|surname|bloc|country|district|placeName|region|settlement|location|population|state|trait|idno|ref|c|pc|w)*>
<!ATTLIST s xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST s
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes; >
<!--doc:(sampling declaration) contains a prose description of the rationale and methods used in sampling texts in the creation of a corpus or collection. [2.3.2. The Sampling Declaration 2.3. The Encoding Description 15.3.2. Declarable Elements] -->
<!ELEMENT samplingDecl (%model.pLike;)+>
<!ATTLIST samplingDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST samplingDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:describes the principles according to which the text has been segmented, for example into sentences, tone-units, graphemic strata, etc. [2.3.3. The Editorial Practices Declaration 15.3.2. Declarable Elements] -->
<!ELEMENT segmentation (%model.pLike;)+>
<!ATTLIST segmentation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST segmentation
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(series information) contains information about the series in which a book or other bibliographic item has appeared. [3.11.2.1. Analytic, Monographic, and Series Levels] -->
<!ELEMENT series (#PCDATA|_DUMMY_model.gLike|title|%model.ptrLike;|editor|respStmt|biblScope|idno|%model.global;|availability)*>
<!ATTLIST series xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST series
 %att.global.attributes; >
<!--doc:describes one particular setting in which a language interaction takes place. [15.2.3. The Setting Description] -->
<!ELEMENT setting ((%model.pLike;)+|(%model.nameLike.agent;|%model.dateLike;|%model.settingPart;)*)>
<!ATTLIST setting xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST setting
 %att.global.attributes;
 %att.ascribed.attributes; >
<!--doc:(setting description) describes the setting or settings within which a language interaction takes place, or other places otherwise referred to in a text, edition, or metadata. [15.2. Contextual Information 2.4. The Profile Description] -->
<!ELEMENT settingDesc ((%model.pLike;)+|(setting|%model.placeLike;|listPlace)+)>
<!ATTLIST settingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settingDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit. [13.2.3. Place Names] -->
<!ELEMENT settlement %macro.phraseSeq;>
<!ATTLIST settlement xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settlement
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:specifies the sex of a person. [13.3.2.1. Personal Characteristics] -->
<!ELEMENT sex %macro.phraseSeq;>
<!ATTLIST sex xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sex
 %att.global.attributes;
 %att.datable.attributes;
value CDATA  #IMPLIED >
<!--doc:(socio-economic status) contains an informal description of a person's perceived social or economic status. [15.2.2. The Participant Description] -->
<!ELEMENT socecStatus %macro.phraseSeq;>
<!ATTLIST socecStatus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST socecStatus
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes;
scheme %data.pointer;  #IMPLIED
code %data.pointer;  #IMPLIED >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:specifies the name of a sponsoring organization or institution. [2.2.1. The Title Statement] -->
<!ELEMENT sponsor %macro.phraseSeq.limited;>
<!ATTLIST sponsor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sponsor
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:contains a description of some status or quality attributed to a person, place, or organization often at some specific time or for a specific date range. [13.3.1. Basic Principles 13.3.2.1. Personal Characteristics] -->
<!ELEMENT state (state+|((%model.headLike;)*,(%model.pLike;)+,(%model.noteLike;|%model.biblLike;)*)|(%model.labelLike;|%model.noteLike;|%model.biblLike;)*)>
<!ATTLIST state xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST state
 %att.global.attributes;
 %att.datable.attributes;
 %att.typed.attributes;
 %att.naming.attributes; >
<!--doc:contains a full street address including any name or number identifying a building as well as the name of the street or route on which it is located. [3.5.2. Addresses] -->
<!ELEMENT street %macro.phraseSeq;>
<!ATTLIST street xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST street
 %att.global.attributes; >
<!--doc:contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [13.2.1. Personal Names] -->
<!ELEMENT surname %macro.phraseSeq;>
<!ATTLIST surname xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST surname
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:supplies information about the usage of a specific element within a text. [2.3.4. The Tagging Declaration] -->
<!ELEMENT tagUsage %macro.limitedContent;>
<!ATTLIST tagUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST tagUsage
 %att.global.attributes;
gi %data.name;  #REQUIRED
occurs %data.count;  #IMPLIED
withId %data.count;  #IMPLIED
render CDATA  #IMPLIED >
<!--doc:(tagging declaration) provides detailed information about the tagging applied to a document. [2.3.4. The Tagging Declaration 2.3. The Encoding Description] -->
<!ELEMENT tagsDecl (namespace*)>
<!ATTLIST tagsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST tagsDecl
 %att.global.attributes;
partial CDATA  #IMPLIED >
<!--doc:defines a typology either implicitly, by means of a bibliographic citation, or explicitly by a structured taxonomy. [2.3.7. The Classification Declaration] -->
<!ELEMENT taxonomy ((_DUMMY_model.glossLike|%model.descLike;)*|category+|((%model.biblLike;),category*))>
<!ATTLIST taxonomy xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST taxonomy
 %att.global.attributes; >
<!--doc:contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more TEI elements, each containing a single text header and a text. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT teiCorpus (teiHeader,((_DUMMY_model.resourceLike+,(TEI|teiCorpus)*)|(TEI|teiCorpus)+))>
<!ATTLIST teiCorpus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiCorpus
 %att.global.attributes;
version %data.version;  "5.0"  >
<!ATTLIST teiCorpus xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(TEI header) supplies the descriptive and declarative information making up an electronic title page for every TEI-conformant document. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader (fileDesc,(%model.teiHeaderPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attributes;
type %data.enumerated;  "text"  >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text ((%model.global;)*,(front,(%model.global;)*)?,body,(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. The Text Classification] -->
<!ELEMENT textClass (classCode|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:provides a set of ordered points in time which can be linked to elements of a spoken text to create a temporal alignment of that text. [16.5.2. Placing Synchronous Events in Time] -->
<!ELEMENT timeline (when)+>
<!ATTLIST timeline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST timeline
origin %data.pointer;  #IMPLIED
unit %data.enumerated;  #IMPLIED >
<!--doc:contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attribute.xmlid;
 %att.global.attribute.xmllang;
type (topic) #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (title+,(%model.respLike;)*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attributes; >
<!--doc:contains a description of some status or quality attributed to a person, place, or organization typically, but not necessarily, independent of the volition or action of the holder and usually not at some specific time or for a specific date range. [13.3.1. Basic Principles 13.3.2.1. Personal Characteristics] -->
<!ELEMENT trait (trait+|((%model.headLike;)*,(%model.pLike;)+,(%model.noteLike;|%model.biblLike;)*)|(%model.labelLike;|%model.noteLike;|%model.biblLike;)*)>
<!ATTLIST trait xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST trait
 %att.global.attributes;
 %att.datable.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
<!--doc:(utterance) contains a stretch of speech usually preceded and followed by silence or by a change of speaker. [8.3.1. Utterances] -->
<!ELEMENT u (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST u xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST u
 %att.global.attribute.xmlid;
 %att.global.analytic.attribute.ana;
 %att.ascribed.attributes; >
<!--doc:marks any vocalized but not necessarily lexical phenomenon, for example voiced pauses, non-lexical backchannels, etc. [8.3.3. Vocal, Kinesic, Incident] -->
<!ELEMENT vocal (%model.descLike;)*>
<!ATTLIST vocal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST vocal
 %att.global.attribute.xmlid;
 %att.global.analytic.attribute.ana;
 %att.ascribed.attributes;
 %att.typed.attributes; >
<!--doc:(word) represents a grammatical (not necessarily orthographic) word. [17.1. Linguistic Segment Categories] -->
<!ELEMENT w (#PCDATA|_DUMMY_model.gLike|w|c|pc|%model.global;|_DUMMY_model.lPart|_DUMMY_model.hiLike|_DUMMY_model.pPart.edit)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST w
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
lemma %data.text;  #IMPLIED
lemmaRef CDATA  #IMPLIED >
<!--doc:indicates a point in time either relative to other elements in the same timeline tag, or absolutely. [16.5.2. Placing Synchronous Events in Time] -->
<!ELEMENT when EMPTY>
<!ATTLIST when xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST when
 %att.global.attribute.xmlid;
 %att.global.linking.attribute.synch;
absolute %data.temporal.w3c;  #IMPLIED
interval %data.interval;  #IMPLIED
since %data.pointer;  #IMPLIED >
<!--doc:contains a passage of written text revealed to participants in the course of a spoken text. [8.3.4. Writing] -->
<!ELEMENT writing %macro.paraContent;>
<!ATTLIST writing xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST writing
 %att.global.attribute.xmlid;
 %att.global.analytic.attribute.ana;
 %att.ascribed.attributes;
 %att.typed.attributes; >
<!-- end elements -->
